@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* text font size */
  /* desktop */
  --text-xs:0.625rem; /*10px*/
  --text-s:0.875rem; /*14px best for mobile*/ 
  --text-m:1rem; /*16px*/
  --text-l:1.125rem; /*18px best for desktop*/
  --text-xl:1.5rem; /*24px*/

  --headings-s:1.875rem; /*30px for subheadings*/
  --headings-m:2.25rem; /*36px*/
  --headings-l:3rem; /*48px*/

  --title-s:3.75rem;/*60px*/
  --title-m:4.5rem;/*72px*/
  --title-l:5.438rem;/*84px*/

  /* mobile */
  --text-mobile-s:var(--text-xs)/*10px*/
  --text-mobile-m:var(--text-s)/*14px best for mobile*/
  --text-mobile-l:var(--text-m)/*16px*/

  --headings-mobile-s:var(--text-l);/*18px for subheadings*/
  --headings-mobile-m:1.313rem;/*21px*/
  --headings-mobile-l:var(--text-xl)/*24px*/;

  --title-mobile-s:var(--text-xl);/*24px*/
  --title-mobile-m:var(--headings-s);/*30px*/
  --title-mobile-l:var(--headings-m);/*36px*/

  /* colors */
  --primary:#016198;
  --primary-transparent:#0088D6;
  --secondary:#72A726;
  --accent:#e4ebf5;
  --white:#f3f4f6;
  --black:#000000; 
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
.esconder{
  opacity: 0;
  transition: all 1.5s;
}
.mostrar{
  opacity: 1;
}
.stack-img:nth-child(1){
  transition-delay: 200ms;
}
.stack-img:nth-child(2){
  transition-delay: 400ms;
}
.stack-img:nth-child(3){
  transition-delay: 600ms;
}
@media(prefers-reduced-motion){
  .esconder{
    transition: none;
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
