---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import BackgroundImg from "../assets/service-img-bg.png"

import productContainerImg from '../assets/productpg-card-pic.jpg'

---
<Layout>
    <Header 
        title="Container com filtros para filtração chorume ou aterro sanitário" 
        subTitle="Fazemos sobre medida para sua empresa" 
        background={BackgroundImg}
    />
    <main class="flex flex-col items-center gap-7 md:gap-14 2xl:gap-28 mb-8 md:mb-28 sm:mt-14 2xl:mt-16">

        <div class=" rounded flex flex-col-reverse gap-4 items-end w-[272px] mt-10 sm:w-[400px] md:w-fit md:gap-10 md:flex-row md:mx-5 md:mt-0 md:items-center lg:gap-20">
			<div class=" z-10 font-Jakarta md:w-[467px] xl:w-[700px] flex flex-col items-center gap-8 md:mb-0">
                <h3 class=" text-xs text-black text-justify sm:text-lg font-bold xl:text-3xl 2xl:text-4xl">Na Filter Med, oferecemos soluções sob medida para o tratamento de resíduos líquidos em aterros sanitários, com destaque para contentores equipados com sistemas de filtragem avançados. Cada projeto é cuidadosamente planejado para atender às necessidades específicas de cada cliente, garantindo eficiência, segurança e conformidade ambiental.</h3>
            </div>
			<img class=" rounded-lg w-full h-full md:w-[304px] md:h-[254px] md:relative xl:inline xl:w-[540px] xl:h-[350px] 2xl:w-[707px] 2xl:h-[442px] 2xl:rounded-[20px]" src={productContainerImg.src} alt="group image">
		</div>
        
        <h3 class=" text-primary font-Jakarta text-center text-2xl md:text-3xl xl:text-4xl 2xl:text-5xl font-bold">O nosso processo é totalmente personalizado</h3>

        <div class=" relative bg-accent rounded flex justify-center items-end mx-5 p-6 w-[304px] mt-10 md:mt-0 sm:justify-evenly md:items-center md:w-[700px] md:rounded-[20px] xl:w-[1200px] 2xl:w-[1433px] 2xl:h-[532px]">
			<div class=" z-10 font-Jakarta sm:w-[267px] xl:w-[467px] flex flex-col items-center gap-8 mb-5 md:mb-0">
				<div class="flex flex-col gap-4">
					<h3 class=" text-white text-base sm:text-lg md:text-black font-bold text-center xl:text-4xl">Fazemos os contêiner com os químicos perfeitos para cada tipo de caso em que sua empresa necessita</h3>
				</div>
				<div class=" m-auto">
					<button class=" bg-secondary rounded-full shadow-xl xl:min-w-[340px] xl:min-h-[70px] ">
						<a class=" text-white font-Jakarta font-bold px-5 py-2 text-xl lg:px-12 xl:text-4xl" href="">entre em contato</a>
					</button>
				</div>
			</div>
			<img class=" absolute w-full h-full brightness-75 md:brightness-100 md:w-[304px] md:h-[254px] md:relative rounded-lg xl:inline xl:w-[540px] xl:h-[350px] 2xl:w-[707px] 2xl:h-[442px] 2xl:rounded-[20px]" src={productContainerImg.src} alt="group image">
		</div>
    </main>
</Layout>