---
const {btnContent}=Astro.props
---

<button class=" bg-secondary rounded-full shadow-xl xl:min-w-[340px] xl:min-h-[70px] ">
    <a class=" text-white font-Jakarta font-bold px-5 py-2 text-xl lg:px-12 lg:text-4xl" href="">{btnContent}</a>
</button>