---
const {btnContent}=Astro.props
---

<button class=" bg-secondary max-w-[340px] min-h-[40px] rounded-lg shadow-lg">
    <a class=" text-white text-4xl font-Jakarta" href="">{btnContent}</a>
</button>