---
const {btnContent}=Astro.props
---

<button class=" bg-secondary min-w-[340px] min-h-[70px] rounded-full shadow-xl">
    <a class=" text-white text-4xl font-Jakarta font-bold px-12" href="">{btnContent}</a>
</button>