---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

import logo from '../assets/logo-filter-med.svg'
---
<section>
    <div class=" container">
        <div>
            <img src="" alt="">
        </div>
    </div>
</section>