---

const {title, subTitle, background}=Astro.props
import { Image } from "astro:assets";
---
<section class=" w-full h-[270px] md:h-fit 2xl:h-[690px]">
    <div class=" relative text-white w-full h-full">
        <div class="absolute z-10 flex justify-center items-center w-full h-full">
            <div class=" flex flex-col items-center 2xl:items-start 2xl:w-[1920px] mx-3 2xl:ml-[300px] gap-4 md:gap-11 font-Jakarta font-bold">
                <h3 class=" text-2xl lg:text-5xl md:w-[750px] text-center 2xl:text-left 2xl:text-[64px]">{title}</h3>
                <h4 class=" text-base lg:text-2xl max-w-[400px] text-center 2xl:text-justify lg:max-w-[525px] 2xl:max-w-[861px] 2xl:text-3xl">{subTitle}</h4>
            </div>
        </div>
        <Image loading="lazy" class=" w-full h-full object-cover" src={background} alt="bg-img">
    </div>
</section>