---
import bg from '../assets/bg-img-home-pg.png'
import ContactBtn from './contactBtn.astro'
---
<section class=" relative h-[690] w-full z-0">
    <div class=" absolute text-white z-10 h-full w-full">
        <div class=" flex justify-center items-center h-full gap-28">
            <div class=" flex flex-col gap-11 h-full justify-center">
                <h3 class=" w-[662px] font-Jakarta font-bold text-[64px] text-left">Filter Med é especializada em filtos para resíduos</h3>
                <h4 class=" w-[861px] text-justify font-Jakarta font-bold text-3xl">Fornecemos assistência técnica especializada e soluções de filtragem para ajudar sua aplicação a ter um desempenho ideal e fornecer a vantagem necessária em seu setor.</h4>
            </div>
            <div>
                <div class=" bg-primary rounded-lg w-[464px] h-[381px] text-center font-Jakarta font-bold flex flex-col gap-8 items-center justify-center">
                    <h4 class=" text-[40px]">Precisa de ajuda de um profissional?</h4>
                    <p class=" text-2xl">Encontre flexibilidade para fazer negócios </p>
                    <button class=" bg-secondary w-[300px] h-[90px] rounded-lg shadow-lg">
                        <a class=" text-white text-4xl font-Jakarta font-bold" href="">fale com um especialista</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <img class=" h-full w-full" src={bg.src} alt="bg-img-home-pg">
</section>
