---
import Herosection from '../components/herosection.astro';
import HomeServiceHeaderCard from './homeServiceHeaderCard.astro';
---
<section class="w-full h-fit">
    <Herosection/>
    <HomeServiceHeaderCard/>
</section>