---
import Herosection from '../components/herosection.astro';
import { Image } from "astro:assets";
import { getCollection } from 'astro:content';
const homePageData = await getCollection("home_page");
---
<section class="w-full h-fit">
    <Herosection/>
    <div class="flex flex-col gap-11 my-5">
        
    </div>
</section>