---
const {logoimg,companyName}=Astro.props
import { Image } from "astro:assets";
---
<a id="logo" class=" flex flex-row items-center gap-2" href="/">
    <Image src={logoimg} class=" size-9 sm:size-[59px]" alt="filter-med-logo"/>
    <h3 class=" font-Inter font-bold text-xl sm:text-4xl">{companyName}</h3>
</a>