---
import logo from '../assets/logo-filter-med.svg'
---

<div class=" flex flex-row items-center gap-2">
    <img src={logo.src} class=" w-[59px] h-[59px]" alt="filter-med-logo">
    <h3 class=" font-Inter  font-bold text-4xl">Filter Med</h3>
</div>