---
import Logo from './logo.astro'
import Navigation from './navigation.astro'

const navdata=[
    {
        link:'/product',
        title:'Produto'
    },{
        link:'/service',
        title:'Serviço'
    },{
        link:'/about',
        title:'Sobre'
    }
]
---
<section class=" w-full h-[101px] flex items-center">
    <div class=" container mx-auto flex flex-row justify-between">
        <Logo/>
        <!-- <div class="flex gap-28 items-center">
            <p class=" font-Inter font-bold text-2xl">Produtos</p>
            <p class=" font-Inter font-bold text-2xl">Serviços</p>
            <p class=" font-Inter font-bold text-2xl">Sobre</p>
        </div> -->
        <Navigation navlist={navdata}/>
    </div>
</section>