---
import burgerMenu from '../assets/burger-menu.svg'
import closeicon from '../assets/close-icon.svg'

interface Linkdata{
    link:string,
    title:string
}
const navdata=Astro.props;
---
<nav id="navOptionConatiner" class=" flex lg:gap-16 xl:gap-28 items-center">
    {
        navdata.navlist.map((linkdata:Linkdata)=>{
            return <a class="font-Inter font-bold lg:text-2xl" href={linkdata.link}>{linkdata.title}</a>
        })
    }
</nav>

<button id="burgerMenu" x-data="{open: false}" @click="open = ! open">
    <template x-if="open">
        <img class=" size-9 object-fill" src={closeicon.src} alt="close-button-">
    </template>
    <template x-if="!open">
        <img class=" size-9 object-fill" src={burgerMenu.src} alt="burger-button-">
    </template>
</button>


<script>
    const burgerMenuElement= document.getElementById('burgerMenu')
    const navOptionConatiner= document.getElementById('navOptionConatiner')
    const hidden='hidden' 

    function toggleNav(){
        let reg = new RegExp('(\\s|^)'+hidden+'(\\s|$)')

        let screenW=document.documentElement.clientWidth
        if(screenW<1024){
            navOptionConatiner?.classList.add('hidden')
            if(burgerMenuElement?.className.match(new RegExp('(\\s|^)'+hidden+'(\\s|$)'))){
                burgerMenuElement.className=burgerMenuElement.className.replace(reg,' ')
            }
        }
        if(screenW>1024){
            burgerMenuElement?.classList.add('hidden')
            if(navOptionConatiner?.className.match(new RegExp('(\\s|^)'+hidden+'(\\s|$)'))){
                navOptionConatiner.className=navOptionConatiner.className.replace(reg,' ')
            }
        }
    }

    function loadNav(){
        let screenW=document.documentElement.clientWidth
        if(screenW<1024){
            navOptionConatiner?.classList.add('hidden')
        }
        if(screenW>1024){
            burgerMenuElement?.classList.add('hidden')
        }
    }
    window.addEventListener('load', loadNav)
    window.addEventListener("resize", toggleNav);
</script>