---
import Footer from "../components/footer.astro"
import Navbar from "../components/navbar.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="global.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<title>Filter Med</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<!-- <Footer/> -->
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		background-color: var(--white);
	}
</style>
